<%- include('partials/header.ejs') %>

<body>

<%- include('partials/navbar.ejs') %>

<div class="columns">
    <div class="column is-hidden-mobile is-one-quarter">
        <div class="container subtitle app-form-div">
            <h1> Variable </h1>
            <form action="/form" class="" method="post">
                <div class="field">
                  <label class="label headline">Enter Keyword*</label>
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      name="Keyword"
                      placeholder="Keyword"
                      required
                    />
                  </div>
                </div>
                <div class="field">
                  <label for="categories" class="label headline">Choose Category:</label>
                  <div class="select is-fullwidth">
                      <select id="categories" name="categories">
                          <option value="All">All</option>
                          <option value="brand">is a brand</option>
                          <option value="generic">is a generic term</option>
                          <option value="event">is an event</option>
                          <option value="location">is a location</option>
                          <option value="industry">is an industry</option>
                          <option value="person">is a person's name</option>
                          <option value="skill">is a skill</option>
                      </select>
                  </div>
                </div>
  
                <div>
                  <input
                    class="button is-block is-primary is-large is-fullwidth"
                    type="submit"
                    value="Submit"
                  /><br />
                </div>
              </form>
        </div>
    </div>


    <div class="column is-three-quarter main-panel">
        <div class="columns is-multiline">
            <% for(i=0;i<18;i++){ %>
                <div class="column is-one-third">
                    <%- include('partials/boxes/openbox.ejs',quote=quotes[i],label="Free") %>
                </div>
            <% } %>
            <% if(currentUser && (currentUser.sub_monthly.active == true || currentUser.sub_yearly.active == true || currentUser.sub_lifetime.active == true)){ %>
                <% for(i=18;i<quotes.length;i++){ %>
                    <div class="column is-one-third ">
                        <%- include('partials/boxes/openbox.ejs',quote=quotes[i],label="Premium") %>
                    </div>
                <% }%>
            <%} else { %>
                <% for(i=18;i<quotes.length;i++){ %>
                    <div class="column is-one-third">
                        <%- include('partials/boxes/lockbox.ejs',i=i,quotes_length=quotes.length-1) %>
                    </div>
                <% }%>
            <% } %>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>