<%- include('partials/header.ejs') %>

    <%- include('partials/navbar.ejs') %>

    <section class="section">
        <div class="title-wrapper has-text-centered headline-div">
            <h2 class="title is-2 headline">Pricing</h2>
            <h3 class="subtitle is-5 is-muted paragraph">Get the power of a copywriter for life, without paying their $100 hourly rate.
            </h3>
        </div>
        <div class="container">
            <div class="columns">

                <div class="column pricing-card">
                    <h1 class="pricing-title headline"> Monthly </h1>
                    <div>
                        <span class="pricing-number"> 3 </span>
                        <span class="pricing-symbol"> $ </span>
                    </div>
                        
                    <ul class="pricing-features">
                        <li>
                            <img src="img/tick.png" width="15px" /> Over 1500 Headlines
                        </li>
                        <li>
                            <img src="img/tick.png" width="15px" /> Tested to ensure quality
                        </li>
                        <li>
                            <img src="img/tick.png" width="15px" /> Generate More Revenue per post
                        </li>
                        <li>
                            <img src="img/tick.png" width="15px" /> Easy to Use Interface
                        </li>
                        <li>
                            <img src="img/tick.png" width="15px" /> Cancel Any Time
                        </li>
                    </ul>
                    
                    <br/>

                    <div>
                        <% if(!sub_monthly_active){ %>
                            <button class="button is-primary is-fullwidth btn-align-md accent-btn raised" onclick=gotoCheckout('<%= sessionId_monthly %>')>Buy Now</a>
                        <%}else{%>
                            <form action='/cancel-sub-monthly' method='post'>
                                <input class="button is-primary is-fullwidth btn-align-md accent-btn raised" type='submit' value = " Cancel Subscription" />
                            </form>
                        <%}%>
                    </div>
                    
                </div>

                <div class="column pricing-card">
                    <h1 class="pricing-title headline"> Yearly </h1>
                    <div>
                        <span class="pricing-number"> 19 </span>
                        <span class="pricing-symbol"> $ </span>
                    </div>
                        
                    <ul class="pricing-features">
                        <li>
                            <img src="img/tick.png" width="15px" /> Over 1500 Headlines
                        </li>
                        <li>
                            <img src="img/tick.png" width="15px" /> Tested to ensure quality
                        </li>
                        <li>
                            <img src="img/tick.png" width="15px" /> Generate More Revenue per post
                        </li>
                        <li>
                            <img src="img/tick.png" width="15px" /> Easy to Use Interface
                        </li>
                        <li>
                            <img src="img/tick.png" width="15px" /> Cancel Any Time
                        </li>
                    </ul>
                    
                    <br/>
                    
                    <div>
                        <% if(!sub_yearly_active){ %>
                            <button class="button is-primary is-fullwidth btn-align-md accent-btn raised" onclick=gotoCheckout('<%= sessionId_yearly %>')>Buy Now</a>
                        <%}else{%>
                            <form action='/cancel-sub-yearly' method='post'>
                                <input class="button is-primary is-fullwidth btn-align-md accent-btn raised" type='submit' value = " Cancel Subscription" />
                            </form>
                        <%}%>
                    </div>
                    
                </div>

                <div class="column pricing-card">
                    <h1 class="pricing-title headline"> LifeTime </h1>
                    <div>
                        <span class="pricing-number"> 59 </span>
                        <span class="pricing-symbol"> $ </span>
                    </div>
                        
                    <ul class="pricing-features">
                        <li>
                            <img src="img/tick.png" width="15px" /> Over 1500 Headlines
                        </li>
                        <li>
                            <img src="img/tick.png" width="15px" /> Tested to ensure quality
                        </li>
                        <li>
                            <img src="img/tick.png" width="15px" /> Generate More Revenue per post
                        </li>
                        <li>
                            <img src="img/tick.png" width="15px" /> Easy to Use Interface
                        </li>
                        <li>
                            <img src="img/tick.png" width="15px" /> Cancel Any Time
                        </li>
                    </ul>
                    
                    <br/>
                    
                    <div>
                        <% if(!sub_ltd_active){ %>
                            <button class="button is-primary is-fullwidth btn-align-md accent-btn raised" onclick=gotoCheckout('<%= sessionId_ltd %>')>Buy Now</a>
                        <%}else{%>
                            <button class="button is-primary is-fullwidth btn-align-md accent-btn raised" >LifeTime Deal Subscribed !!!</a>
                        <%}%>
                    </div>
                    
                </div>

            </div>
        </div>
    </section>
    <!-- END Pricing -->
    <!-- Stripe Setup-->
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripe = Stripe('<%= STRIPE_PUBLIC_KEY %>');

        function gotoCheckout(sessionId){
            stripe.redirectToCheckout({sessionId:sessionId});
        }
    </script>
    <!-- END Stripe Setup-->

    <%- include('partials/footer.ejs') %>